<div class="container-full">
  <div class="container">
    <h1>Print Questionnaires</h1>
    <div class="row">
      <div class="col-6">
        <a class="action-btn" (click)="downloadSurvey('personal')">>
          <!-- </a>        <a class="action-btn" href="../../assets/Arammu Personal Questionnaire.pdf" target="_blank"> -->
          Download Personal Questionnaire
        </a>
      </div>
      <div class="col-6">
        <a class="action-btn" (click)="downloadSurvey('professional')">
          <!-- <a class="action-btn" href="../../assets/Arammu Professional Questionnaire.pdf" target="_blank"> -->
          Download Professional Questionnaire
        </a>
      </div>
    </div>
  </div>
</div>
