<footer>
	<div class="container">
		<div class="row text-center small">
			<div class="col-12 col-md-4">
				<a routerLink="/what-we-do">
					<h5>
						About
					</h5>
				</a>
			</div>
			<div class="col-12 col-md-4">
				<a routerLink="/who-we-are">
					<h5>
						Contact
					</h5>
				</a>
			</div>
			<div class="col-12 col-md-4">
				<a routerLink="/clinician-login">
					<h5>
						Clinician Login
					</h5>
				</a>
			</div>
		</div>
		<hr>
		<div class="row" style="margin-top: 1%">
			<div class="col-12 text-center">
				<h3>
					Arammu, LLC.
				</h3>
				<h4>
					48 Cedar Street
					<br>
					Worcester, MA 01609
				</h4>
			</div>
		</div>
	</div>
</footer>