<div class="container">
	<h1>Consent to Treat Terms and Conditions</h1>
	<hr>
	<h2>What is Arammu: The Relationship Checkup</h2>
	<p>
		Arammu: The Relationship Checkup is a proactive approach to improving and sustaining the health of our personal
		and professional relationships. The effectiveness of the Checkup is supported by 20 years of federally-funded
		research and offers coworkers and couples a fun, annual option for learning about what makes their relationship
		tick, what their most significant strengths are, and how to address common communication and relationship
		concerns. The Checkup helps us to tap into what is best about our relationships, increase the quality of our
		relationship insight, and learn to move with grace, creativity, and humor in our most important relationships.
	</p>
	<h2>Procedures</h2>
	<p>
		The Relationship Checkup consists of one 50-minute session with an expert relationship health consultant. Prior
		to your Checkup appointment you and your partner will complete a brief set of online questionnaires. The
		questionnaires ask about the quality of your relationship, including your strengths and any concerns that you
		might have. The completion of the questionnaires should take approximately 10 minutes.
	</p>
	<p>
		Then you will meet with your relationship health consultant via a video session from the comfort of your own
		home or work place. During the appointment, your relationship health consultant will spend time getting to know
		you and your partner, and learn about your relationship. During this meeting you will discuss various aspects of
		your relationship including your history, your strengths, and any concerns that you might have.
	</p>
	<p>
		Then, if you choose, you will participate in one final follow-up meeting approximately two weeks later. During
		this meeting, your relationship health consultant will review your personalized feedback report with
		research-driven suggestions for maintaining your relationship health and addressing the concerns that you
		discussed.
	</p>
	<h2>Your Annual Checkup</h2>
	<p>
		Because the model of the Relationship Checkup is the annual medical exam or annual dental checkup, we will
		receive a reminder email to schedule your Checkup at the one-year anniversary of your first Checkup.
	</p>
	<h2>Will my treatment be kept confidential?</h2>
	<p>
		All communications between a relationship health consultant and the individuals with whom the consultant engages
		in treatment are confidential. Information you provide and the records of your treatment will be kept strictly
		confidential. No one can find out information about your treatment without your written consent.
	</p>
	<p class="bold italics">
		The major limitations to this confidentiality occur when there is an immediate threat to life (such as suicide
		or homicide), when child abuse or neglect is known or suspected or when elder abuse or neglect is known, or when
		a Court of Law issues a valid subpoena.
	</p>
	<p>
		Specifically, there are a few circumstances under which the clinician is ethically and legally bound to break
		this agreement of confidentiality.  These are as follows:
	</p>
	<p>
		1) If the clinician becomes aware that a child under 18 is or has been abused, or a developmentally disabled
		person or an elderly person is or has been abused, a report must be made to the appropriate authorities.
	</p>
	<p>
		2) If a participant threatens another person, the clinician must protect the other person by warning the person
		at risk and reporting the danger to the appropriate authorities.
	</p>
	<p>
		3) If a participant poses a danger to self or others or is unable to take care of basic needs, the clinician
		will take appropriate action to protect the participant’s safety including notifying the appropriate
		authorities.
	</p>
	<p>
		In addition, your relationship health consultant may consult with their own clinical supervisors about your
		interviews as part of their own ongoing training. When this occurs, the supervisors will uphold the
		confidentiality of your interviews to the same degree as your consultant. If you have any questions regarding
		whom your relationship health consultant will consult regarding her/his work with you, please ask her/him.
	</p>
	<h2>Clinician Information</h2>
	<p>
		You may choose to work with a consultant who is licensed in a different state than where you reside. This will
		not affect the quality of your treatment. All clinicians have been trained in the Relationship Checkup and have
		a license to practice. You may ask your consultant what state he/she is licensed in at any time.
	</p>
	<h2>Right to discontinue</h2>
	<p>
		Participation in this Checkup is completely voluntary.  Even if you sign this consent form now, you are not
		permanently committing yourself.  You are free to stop at any time.  If you stop, you may request that your data
		be permanently delete from record.
	</p>
	<p>
		If you have any questions concerning your consent to participate in the Checkup, you are welcome to contact the
		Chief Operating Officer, Tatiana Gray: Tatiana@arammu.org.
	</p>
	<p>
		I have read and understand all the information above and agree to the policies outlined for the Relationship
		Checkup. By registering an account through Arammu.com, I voluntarily consent to participate in this activity.
	</p>
</div>
